@media (max-width: 600px){
	.container-fluid{
		padding-top: .5rem !important;
		padding-bottom: .5rem !important;
	}
	.navbar-collapse{
		padding:1rem !important;
	}
	#bienvenida{
		padding-top: 25% !important;
	}
	#bienvenida #contenedor{
		width: 90% !important;
	}

	#notaNon .texto,
	#notaPar .texto,
	#notaNon-comision .texto{
		text-align: center !important;
		align-items: center !important;
		padding-top: 2rem !important;
		padding-bottom: 2rem !important;
	}
	#about .texto,
	#cuerpoNota .texto{
		padding-right: 10% !important;
		padding-left: 10% !important;
	}
	#about img,
	#cuerpoNota img{
		width: 100% !important;
	}
	header #barra .navbar .navbar-collapse .row .cont-redes{
		justify-content: start;
		text-align: start;
	}
	#about h2,
	#about p{
		text-align: justify;
	}
	#bienvenida h1{
		font-size: 3rem;
	}
	.digitales .galeria .IMG{
		width: 70%;
	}
}